<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @review.customer_id %>
</p>

<p>
  <strong>Squad:</strong>
  <%= @review.squad_id %>
</p>

<p>
  <strong>Reviewdate:</strong>
  <%= @review.reviewdate %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @review.comments %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @review.rating %>
</p>

<p>
  <strong>Status:</strong>
  <%= @review.status %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
