<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @customer.firstName %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @customer.lastName %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<p>
  <strong>Phonenumber:</strong>
  <%= @customer.phoneNumber %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @customer.address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @customer.address2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @customer.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @customer.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @customer.zip %>
</p>

<p>
  <strong>Additionalnotes:</strong>
  <%= @customer.additionalNotes %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
